# Ignora todo
*

# No ignores archivos específicos
!.vimrc
!.ideavimrc
!vimNotes.txt
!vimNotes.md
!README.md
!.gitignore

# Neovim config
!.config/
!.config/nvim/
!.config/nvim/**

# Ignorar plugins clonados (packer, plug, etc.)
.config/nvim/pack/
.config/nvim/plugin/packer_compiled.lua

# Archivos basura del sistema
*.DS_Store
